<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Checkout example · Bootstrap v5.0</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/checkout/"
    />

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

document.addEventListener("DOMContentLoaded", function () {
  console.log("loaded")
  var settings = {
  "url": "https://dev-ymrwl54nf7tekode.us.webtask.run/adf6e2f2b84784b57522e3b19dfc9201/api/roles",
  "method": "GET",
  "timeout": 0,
  "headers": {
    "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik9WeVhMN3JnNVlaQXkxdmUzZDlEVCJ9.eyJpc3MiOiJodHRwczovL2Rldi15bXJ3bDU0bmY3dGVrb2RlLnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJ6TDBXb0M0aVBFN2dmakVxZ0h1SzRkRHRrYmllQmxwR0BjbGllbnRzIiwiYXVkIjoidXJuOmF1dGgwLWF1dGh6LWFwaSIsImlhdCI6MTcwMjI2NDYxOSwiZXhwIjoxNzAyMzUxMDE5LCJhenAiOiJ6TDBXb0M0aVBFN2dmakVxZ0h1SzRkRHRrYmllQmxwRyIsInNjb3BlIjoicmVhZDp1c2VycyByZWFkOmFwcGxpY2F0aW9ucyByZWFkOmNvbm5lY3Rpb25zIHJlYWQ6Y29uZmlndXJhdGlvbiB1cGRhdGU6Y29uZmlndXJhdGlvbiByZWFkOmdyb3VwcyBjcmVhdGU6Z3JvdXBzIHVwZGF0ZTpncm91cHMgZGVsZXRlOmdyb3VwcyByZWFkOnJvbGVzIGNyZWF0ZTpyb2xlcyB1cGRhdGU6cm9sZXMgZGVsZXRlOnJvbGVzIHJlYWQ6cGVybWlzc2lvbnMgY3JlYXRlOnBlcm1pc3Npb25zIHVwZGF0ZTpwZXJtaXNzaW9ucyBkZWxldGU6cGVybWlzc2lvbnMgcmVhZDpyZXNvdXJjZS1zZXJ2ZXIgY3JlYXRlOnJlc291cmNlLXNlcnZlciB1cGRhdGU6cmVzb3VyY2Utc2VydmVyIGRlbGV0ZTpyZXNvdXJjZS1zZXJ2ZXIiLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMifQ.ll64uwwGLFqMKbHMiZN9Mi5i7JOzLmSnDhv_BV0DPqjJu-qhnti4DtdMJHbo6WqUXYD-msAuP1aU-mPNPqG2KWARNq0DqdhS1xcundDA_MfJT_rhsK2gYujySXx-7aCp_809qKEGH6tNMQTW4qQSl3jbecvi5ji3Rf40B9qTqkAL649LfYTWQbAlzOTDSaJ797kKIfUKat3gCDFwL5jcN-Y0RA123pPZ716PCcV6dZBd_4Nr-Hru4xZHb4_LYCYpoAGufizvxv-13gX2-NLGhvmgsbna7anXmqtdi_01p9l7rqfEjc-SwnnBJmdXa9ElcKTd5L3l6JIA4itwhWhR-Q",
    // "Cookie": "AWSELB=6450b1ba4b5f4dd44789de039e4ac689|a67f5b9d4df2d19a7a9496672c270c1a"
  },
};

$.ajax(settings).done(function (response) {
  console.log(response);
  var user_id = '<%- user_id %>'
  // const user_id = JSON.parse('')
  // console.log(response.roles[0].users)
  // console.log(user_id)
  if (response.roles[0].users.includes(user_id)) {
    console.log("right role")
    $('#mainBody').show();
  } else {
    console.log("wrong role")
    window.location.replace("http://localhost:8080/unauthorized");
  }
});
 
      });
   


      function validate() {
        let firstName = document.getElementById("firstName").value;
        let lastName = document.getElementById("lastName").value;
        let email = document.getElementById("email").value;
        let phone = document.getElementById("phone").value;
        let address = document.getElementById("address").value;
        let insurance = document.getElementById("insurance").value;
        let submitButton = document.getElementById("submitButton")
        if (firstName !== "" && firstName !== undefined && lastName !== "" && lastName !== undefined && email !== "" && email !== undefined && phone !== "" && phone !== undefined&& address !== "" && address !== undefined && insurance !== "" && insurance !== undefined) {
          console.log("good to submit!")
          submitButton.disabled = false
        } else {
          submitButton.disabled = true;
        }

      }
    </script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <div class="container">
      <main id="mainBody" style="display:none">
        <div class="py-5 text-center">
          <img
            class="d-block mx-auto mb-4"
            src="/pharmacy_logo.svg"
            alt=""
            width="72"
            height="57"
          />
          <h2>Create Patient</h2>
        </div>

        <div class="row g-5">
          <div class="col-md-12 col-lg-12">
            <h4 class="mb-3">Billing address</h4>
            <form
              class="needs-validation"
              novalidate
              action="/patient/"
              method="POST"
              id="createPatientForm"
              onchange="validate()"
            >
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input
                    required
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder=""
                    value=""
                  />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="you@example.com"
                  />
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>

                <div class="col-12">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input
                    type="tel"
                    class="form-control"
                    name="phone"
                    id="phone"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                  />
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>

                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="address"
                    placeholder="1234 Main St"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
                </div>
              <div class="col-md-4">
                <label for="insurance" class="form-label">Insurance</label>
                <select
                  class="form-select"
                  id="insurance"
                  form="createPatientForm"
                  name="insuranceId"
                  required
                >
                  <option value="">Choose...</option>
                   <% insurances.forEach(insurance => { %>
                  <option value="<%=insurance.id%>"><%=insurance.name%></option>
                  <% }) %>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>

              <hr class="my-4" />

              <button class="w-100 btn btn-primary btn-lg" type="submit" id="submitButton" disabled>
                Create Patient
              </button>
            </form>
          </div>
        </div>
      </main>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2023 Red Raider Pharmacy</p>
      </footer>
    </div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="form-validation.js"></script>
  </body>
</html>
