<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/style.css">
        <title>Pharmacy</title>
    </head>
    <body>
        <h1>Red Raider Pharmacy</h1>
    </body>
</html>